<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Worksheets | Resources for Teachers</title>
    <meta name="description" content="Buy physics worksheets on topics like kinematics, energy, momentum, oscillations and electricity/magnetism. Perfect for high school teachers.">
    <link rel="stylesheet" href="/css/custom.css">
<meta name="google-site-verification" content="qPpqK2VkUBaKpaJTARwiOqaTpgsFTKwVoNCTNWKAGFA" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TN1FEEBKDX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TN1FEEBKDX');
</script>

<body>
    {{ partial "header.html" . }}

    <main class="landing-page">
        <h1>Physics Worksheets</h1>

    </main>

</body>
</html>

